service: products-api1

custom:
  bucket:
    base-serverless: 'poc-serverless-template'
    project-prefix: 'poc-serverless'
    prune:
     automatic: true
     number: 3
  accountId: { 'Fn::Join': ['', [{ 'Ref': 'AWS::AccountId' }]] }
  company: 'poc'
  tables:
    productsTableName: '${self:custom.company}-products-${self:provider.stage}'
  topics:
    productTopic: '${self:custom.company}-topics-products-${self:provider.stage}'
    #productTopicArn: { 'Fn::Join': [ '', [ 'arn:aws:sns:${self:provider.region}:', { 'Ref': 'AWS::AccountId' }, ':${self:custom.topics.productTopic}', ],],}
    productTopicArn: "arn:aws:sns:us-east-1:888118966259:poc-topics-products-dev"
  buckets:
    productBucket: '${self:custom.company}-products-bucket-${self:provider.stage}'
    productFolder: 'folder1'
  queues:
    productQueue: '${self:custom.company}-queues-products-${self:provider.stage}'
    productQueueArn: { 'Fn::Join': [ '', [ 'arn:aws:sqs:${self:provider.region}:', { 'Ref': 'AWS::AccountId' }, ':${self:custom.queues.productQueue}', ],],}
    productS3Queue: '${self:custom.company}-queues-products-S3-${self:provider.stage}'
    productS3QueueArn: { 'Fn::Join': [ '', [ 'arn:aws:sqs:${self:provider.region}:', { 'Ref': 'AWS::AccountId' }, ':${self:custom.queues.productS3Queue}', ], ], }
provider:
  name: aws
  runtime: java11
  stackName: ${self:custom.company}-${self:service}-${self:provider.stage}
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}
  stackTags:
    service: ${self:service}
    stage: ${self:provider.stage}
    version: ${opt:version, 'latest'}
    company: ${self:custom.company}
  deploymentBucket:
    name: ${self:custom.bucket.base-serverless}
    maxPreviousDeploymentArtifacts: 3
    serverSideEncryption: AES256
  deploymentPrefix: ${self:custom.bucket.project-prefix}
  #Validar costos de xray
  #tracing:
  # lambda: true
  # apiGateway: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - { "Fn::GetAtt": ["ProductsDynamoDBTable", "Arn" ] }
    - Effect: Allow
      Action:
        - sns:Publish
      Resource:
        - '${self:custom.topics.productTopicArn}'
    - Effect: Allow
      Action:
        - sqs:SendMessage
        - sqs:ReceiveMessage
      Resource:
        - '${self:custom.queues.productQueueArn}'
        - '${self:custom.queues.productS3QueueArn}'

    - Effect: Allow
      Action:
        - s3:PutObject
        - s3:ListBucket
        - s3:GetObject
      Resource:
        - "arn:aws:s3:::${self:custom.buckets.productBucket}/*"
  environment:
    PRODUCTS_TABLE_NAME: ${self:custom.tables.productsTableName}
    PRODUCTS_TOPIC_ARN: ${self:custom.topics.productTopicArn}
    PRODUCTS_QUEUE_ARN: ${self:custom.queues.productQueueArn}
    REGION: ${self:provider.region}
    BUCKET_NAME: ${self:custom.buckets.productBucket}
    BUCKET_FOLDER_NAME: ${self:custom.buckets.productFolder}

package:
  artifact: 'target/${self:service}-${self:provider.stage}.jar'
plugins:
  #- serverless-localstack
  - serverless-offline
  - serverless-prune-plugin

functions:
  listProducts:
    handler: com.serverless.handler.ListProductsHandler
    events:
      - http:
          path: /products
          method: get
  createProduct:
    handler: com.serverless.handler.CreateProductHandler
    events:
      - http:
          path: /products
          method: post
  eventProduct:
    handler: com.serverless.handler.CreateProductEventHandler
    events:
      - sqs:
          arn: '${self:custom.queues.productQueueArn}'
  eventS3Product:
    handler: com.serverless.handler.CreateProductBucketEventHandler
    events:
      - sqs:
          arn: '${self:custom.queues.productS3QueueArn}'
  PublishLocalProductHandler:
    handler: com.serverless.handler.PublishLocalProductHandler
    events:
      - http:
          path: /products/local
          method: post

resources:
  Description: zzzzzz stack
  Resources:
    ProductsDynamoDBTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.tables.productsTableName}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: name
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
          - AttributeName: name
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    ProductTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: ${self:custom.topics.productTopic}
        Subscription:
          - Endpoint:
              Fn::GetAtt:
                - "ProductQueue"
                - "Arn"
            Protocol: sqs
          - Endpoint:
              Fn::GetAtt:
                - "ProductS3Queue"
                - "Arn"
            Protocol: sqs
    ProductQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:custom.queues.productQueue}
        #VisibilityTimeout: ${self:custom.visibilityTimeout}
    ProductQueuePolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues:
          - Ref: ProductQueue
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Sid: allow-sns-${self:custom.topics.productTopic}
              Effect: Allow
              Principal: "*"
              Resource: !GetAtt
                - ProductQueue
                - Arn
              Action:
                - "SQS:SendMessage"
                - "SQS:ReceiveMessage"
              Condition:
                ArnEquals:
                  "aws:SourceArn": !Ref ProductTopic
    ProductS3Queue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:custom.queues.productS3Queue}
    ProductS3QueuePolicy:
      Type: AWS::SQS::QueuePolicy
      Properties:
        Queues:
          - Ref: ProductS3Queue
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Sid: allow-sns-${self:custom.topics.productTopic}
              Effect: Allow
              Principal: "*"
              Resource: !GetAtt
                - ProductS3Queue
                - Arn
              Action:
                - "SQS:SendMessage"
                - "SQS:ReceiveMessage"
              Condition:
                ArnEquals:
                  "aws:SourceArn": !Ref ProductTopic
    ProductS3Bucket:
      Type: 'AWS::S3::Bucket'
      Properties:
        BucketName: ${self:custom.buckets.productBucket}
  Outputs:
    ExportSNSArn:
      Description: The ARN for the exported SNS topic
      Value:
        "Ref": ProductTopic
      Export:
        Name: ProductTopic